# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.pnpm-store

# Logs
logs
*.log
job_logs

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

tmp
test-results/*
playwright-report/*
tests/e2e/test-account.json
start.sh
